services:

  # ========================
  # App: master-dataset
  # ========================
  masterdataset:
    build: .
    container_name: master-dataset
    ports:
      - "8080:8080"
    environment:
      HDFS_URI: hdfs://namenode:8020
      LOGGING_FILE_NAME: /app/app.log
    depends_on:
      - namenode

  # ========================
  # HDFS: namenode
  # ========================
  namenode:
    image: apache/hadoop:3.4.1
    hostname: namenode
    container_name: namenode
    command: [ "hdfs", "namenode" ]
    ports:
      - "9870:9870"
    env_file:
      - ./config
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    volumes:
      - ./data/namenode:/tmp/hadoop-hadoop/dfs/name

  # ========================
  # HDFS: datanode
  # ========================
  datanode:
    image: apache/hadoop:3.4.1
    container_name: datanode
    command: [ "hdfs", "datanode" ]
    env_file:
      - ./config
    depends_on:
      - namenode
    volumes:
      - ./data/datanode:/tmp/hadoop-hadoop/dfs/data

  # ========================
  # YARN: resourcemanager
  # ========================
  resourcemanager:
    image: apache/hadoop:3.4.1
    hostname: resourcemanager
    container_name: resourcemanager
    command: [ "yarn", "resourcemanager" ]
    ports:
      - "8088:8088"
    env_file:
      - ./config
    volumes:
      - ./test.sh:/opt/test.sh
    depends_on:
      - namenode

  # ========================
  # YARN: nodemanager
  # ========================
  nodemanager:
    image: apache/hadoop:3.4.1
    container_name: nodemanager
    command: [ "yarn", "nodemanager" ]
    env_file:
      - ./config
    depends_on:
      - resourcemanager
